/*
Planera Resa

Sök och planera resor med Västtrafik

API version: v4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
)


// StopAreasApiService StopAreasApi service
type StopAreasApiService service

type ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest struct {
	ctx context.Context
	ApiService *StopAreasApiService
	detailsReference string
	stopAreaGid string
	includes *[]VTApiPlaneraResaWebV4ModelsArrivalDetailsIncludeType
}

// The additional information to include in the response.
func (r ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest) Includes(includes []VTApiPlaneraResaWebV4ModelsArrivalDetailsIncludeType) ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest {
	r.includes = &includes
	return r
}

func (r ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest) Execute() (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsArrivalDetailsApiModel, *http.Response, error) {
	return r.ApiService.StopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetExecute(r)
}

/*
StopAreasStopAreaGidArrivalsDetailsReferenceDetailsGet Returns details about an arrival.

Sample request:

    GET /stop-areas/9021014001760000/arrivals/{detailsReference}/details?includes=servicejourneycalls

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param detailsReference The reference to the service journey, received from the arrivals call. A detailsReference is only valid during the same day as it was generated.
 @param stopAreaGid
 @return ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest
*/
func (a *StopAreasApiService) StopAreasStopAreaGidArrivalsDetailsReferenceDetailsGet(ctx context.Context, detailsReference string, stopAreaGid string) ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest {
	return ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest{
		ApiService: a,
		ctx: ctx,
		detailsReference: detailsReference,
		stopAreaGid: stopAreaGid,
	}
}

// Execute executes the request
//  @return VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsArrivalDetailsApiModel
func (a *StopAreasApiService) StopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetExecute(r ApiStopAreasStopAreaGidArrivalsDetailsReferenceDetailsGetRequest) (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsArrivalDetailsApiModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsArrivalDetailsApiModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StopAreasApiService.StopAreasStopAreaGidArrivalsDetailsReferenceDetailsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stop-areas/{stopAreaGid}/arrivals/{detailsReference}/details"
	localVarPath = strings.Replace(localVarPath, "{"+"detailsReference"+"}", url.PathEscape(parameterValueToString(r.detailsReference, "detailsReference")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"stopAreaGid"+"}", url.PathEscape(parameterValueToString(r.stopAreaGid, "stopAreaGid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includes != nil {
		t := *r.includes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "includes", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "includes", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v VTApiPlaneraResaWebV4ModelsApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MicrosoftAspNetCoreMvcProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStopAreasStopAreaGidArrivalsGetRequest struct {
	ctx context.Context
	ApiService *StopAreasApiService
	stopAreaGid string
	startDateTime *time.Time
	platforms *string
	timeSpanInMinutes *int32
	maxArrivalsPerLineAndDirection *int32
	limit *int32
	offset *int32
	directionGid *string
}

// The start of the time interval for which to get upcoming arrivals. Must be specified in RFC 3339 format or be null which means that the current time on the server is used.
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) StartDateTime(startDateTime time.Time) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.startDateTime = &startDateTime
	return r
}

// Filter results by platform. Multiple platforms are separated by comma. Case sensitive.
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) Platforms(platforms string) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.platforms = &platforms
	return r
}

// The number of minutes from the start time for which to get upcoming arrivals. Allowed values are between 0 and 1440.
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) TimeSpanInMinutes(timeSpanInMinutes int32) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.timeSpanInMinutes = &timeSpanInMinutes
	return r
}

// The maximum number of arrivals for a single line in a specific direction.
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) MaxArrivalsPerLineAndDirection(maxArrivalsPerLineAndDirection int32) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.maxArrivalsPerLineAndDirection = &maxArrivalsPerLineAndDirection
	return r
}

// The number of results to return.
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) Limit(limit int32) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.limit = &limit
	return r
}

// The zero-based start offset of the pagination.
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) Offset(offset int32) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.offset = &offset
	return r
}

// Filter result by last stop on journey. Must be a 16-digit Västtrafik stop area
func (r ApiStopAreasStopAreaGidArrivalsGetRequest) DirectionGid(directionGid string) ApiStopAreasStopAreaGidArrivalsGetRequest {
	r.directionGid = &directionGid
	return r
}

func (r ApiStopAreasStopAreaGidArrivalsGetRequest) Execute() (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetArrivalsResponse, *http.Response, error) {
	return r.ApiService.StopAreasStopAreaGidArrivalsGetExecute(r)
}

/*
StopAreasStopAreaGidArrivalsGet Returns arrivals to the specified stop area at the specified time.

Sample request:

    GET /stop-areas/9021014003980000/arrivals

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param stopAreaGid The 16-digit Västtrafik gid of the stop area.
 @return ApiStopAreasStopAreaGidArrivalsGetRequest
*/
func (a *StopAreasApiService) StopAreasStopAreaGidArrivalsGet(ctx context.Context, stopAreaGid string) ApiStopAreasStopAreaGidArrivalsGetRequest {
	return ApiStopAreasStopAreaGidArrivalsGetRequest{
		ApiService: a,
		ctx: ctx,
		stopAreaGid: stopAreaGid,
	}
}

// Execute executes the request
//  @return VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetArrivalsResponse
func (a *StopAreasApiService) StopAreasStopAreaGidArrivalsGetExecute(r ApiStopAreasStopAreaGidArrivalsGetRequest) (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetArrivalsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetArrivalsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StopAreasApiService.StopAreasStopAreaGidArrivalsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stop-areas/{stopAreaGid}/arrivals"
	localVarPath = strings.Replace(localVarPath, "{"+"stopAreaGid"+"}", url.PathEscape(parameterValueToString(r.stopAreaGid, "stopAreaGid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDateTime", r.startDateTime, "")
	}
	if r.platforms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platforms", r.platforms, "")
	}
	if r.timeSpanInMinutes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeSpanInMinutes", r.timeSpanInMinutes, "")
	}
	if r.maxArrivalsPerLineAndDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxArrivalsPerLineAndDirection", r.maxArrivalsPerLineAndDirection, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.directionGid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directionGid", r.directionGid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v VTApiPlaneraResaWebV4ModelsApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MicrosoftAspNetCoreMvcProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest struct {
	ctx context.Context
	ApiService *StopAreasApiService
	detailsReference string
	stopAreaGid string
	includes *[]VTApiPlaneraResaWebV4ModelsDepartureDetailsIncludeType
}

// The additional information to include in the response.
func (r ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest) Includes(includes []VTApiPlaneraResaWebV4ModelsDepartureDetailsIncludeType) ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest {
	r.includes = &includes
	return r
}

func (r ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest) Execute() (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsDepartureDetailsApiModel, *http.Response, error) {
	return r.ApiService.StopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetExecute(r)
}

/*
StopAreasStopAreaGidDeparturesDetailsReferenceDetailsGet Returns details about a departure.

Sample request:

    GET /stop-areas/9021014001760000/departures/{detailsReference}/details?includes=servicejourneycalls

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param detailsReference The reference to the service journey, received from the departures call. A detailsReference is only valid during the same day as it was generated.
 @param stopAreaGid
 @return ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest
*/
func (a *StopAreasApiService) StopAreasStopAreaGidDeparturesDetailsReferenceDetailsGet(ctx context.Context, detailsReference string, stopAreaGid string) ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest {
	return ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest{
		ApiService: a,
		ctx: ctx,
		detailsReference: detailsReference,
		stopAreaGid: stopAreaGid,
	}
}

// Execute executes the request
//  @return VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsDepartureDetailsApiModel
func (a *StopAreasApiService) StopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetExecute(r ApiStopAreasStopAreaGidDeparturesDetailsReferenceDetailsGetRequest) (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsDepartureDetailsApiModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsDepartureDetailsApiModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StopAreasApiService.StopAreasStopAreaGidDeparturesDetailsReferenceDetailsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stop-areas/{stopAreaGid}/departures/{detailsReference}/details"
	localVarPath = strings.Replace(localVarPath, "{"+"detailsReference"+"}", url.PathEscape(parameterValueToString(r.detailsReference, "detailsReference")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"stopAreaGid"+"}", url.PathEscape(parameterValueToString(r.stopAreaGid, "stopAreaGid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includes != nil {
		t := *r.includes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "includes", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "includes", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v VTApiPlaneraResaWebV4ModelsApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MicrosoftAspNetCoreMvcProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStopAreasStopAreaGidDeparturesGetRequest struct {
	ctx context.Context
	ApiService *StopAreasApiService
	stopAreaGid string
	startDateTime *time.Time
	platforms *string
	timeSpanInMinutes *int32
	maxDeparturesPerLineAndDirection *int32
	limit *int32
	offset *int32
	includeOccupancy *bool
	directionGid *string
}

// The start of the time interval for which to get upcoming departures. Must be specified in RFC 3339 format or be null which means that the current time on the server is used.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) StartDateTime(startDateTime time.Time) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.startDateTime = &startDateTime
	return r
}

// Filter results by platform. Multiple platforms are separated by comma. Case sensitive.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) Platforms(platforms string) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.platforms = &platforms
	return r
}

// The number of minutes from the start time for which to get upcoming departures. Allowed values are between 0 and 1440.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) TimeSpanInMinutes(timeSpanInMinutes int32) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.timeSpanInMinutes = &timeSpanInMinutes
	return r
}

// The maximum number of departures for a single line in a specific direction.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) MaxDeparturesPerLineAndDirection(maxDeparturesPerLineAndDirection int32) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.maxDeparturesPerLineAndDirection = &maxDeparturesPerLineAndDirection
	return r
}

// The number of results to return.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) Limit(limit int32) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.limit = &limit
	return r
}

// The zero-based start offset of the pagination.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) Offset(offset int32) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.offset = &offset
	return r
}

// Includes occupancy in departure.
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) IncludeOccupancy(includeOccupancy bool) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.includeOccupancy = &includeOccupancy
	return r
}

// Filter result by last stop on journey. Must be a 16-digit Västtrafik stop area
func (r ApiStopAreasStopAreaGidDeparturesGetRequest) DirectionGid(directionGid string) ApiStopAreasStopAreaGidDeparturesGetRequest {
	r.directionGid = &directionGid
	return r
}

func (r ApiStopAreasStopAreaGidDeparturesGetRequest) Execute() (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetDeparturesResponse, *http.Response, error) {
	return r.ApiService.StopAreasStopAreaGidDeparturesGetExecute(r)
}

/*
StopAreasStopAreaGidDeparturesGet Returns departures from the specified stop area at the specified time.

Sample request:

    GET /stop-areas/9021014003980000/departures

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param stopAreaGid The 16-digit Västtrafik gid of the stop area.
 @return ApiStopAreasStopAreaGidDeparturesGetRequest
*/
func (a *StopAreasApiService) StopAreasStopAreaGidDeparturesGet(ctx context.Context, stopAreaGid string) ApiStopAreasStopAreaGidDeparturesGetRequest {
	return ApiStopAreasStopAreaGidDeparturesGetRequest{
		ApiService: a,
		ctx: ctx,
		stopAreaGid: stopAreaGid,
	}
}

// Execute executes the request
//  @return VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetDeparturesResponse
func (a *StopAreasApiService) StopAreasStopAreaGidDeparturesGetExecute(r ApiStopAreasStopAreaGidDeparturesGetRequest) (*VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetDeparturesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VTApiPlaneraResaWebV4ModelsDeparturesAndArrivalsGetDeparturesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StopAreasApiService.StopAreasStopAreaGidDeparturesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stop-areas/{stopAreaGid}/departures"
	localVarPath = strings.Replace(localVarPath, "{"+"stopAreaGid"+"}", url.PathEscape(parameterValueToString(r.stopAreaGid, "stopAreaGid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDateTime", r.startDateTime, "")
	}
	if r.platforms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platforms", r.platforms, "")
	}
	if r.timeSpanInMinutes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeSpanInMinutes", r.timeSpanInMinutes, "")
	}
	if r.maxDeparturesPerLineAndDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxDeparturesPerLineAndDirection", r.maxDeparturesPerLineAndDirection, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.includeOccupancy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeOccupancy", r.includeOccupancy, "")
	}
	if r.directionGid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directionGid", r.directionGid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v VTApiPlaneraResaWebV4ModelsApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MicrosoftAspNetCoreMvcProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
