openapi: 3.0.1
info:
  description: Sök och planera resor med Västtrafik
  title: Planera Resa
  version: v4
servers:
- url: https://ext-api.vasttrafik.se/pr/v4
security:
- auth: []
paths:
  /journeys:
    get:
      description: "For an origin or destination to be valid, either a gid or a combination\
        \ of latitude and longitude must be specified. OriginName and destinationName\
        \ are optional in combination with latitude and longitude.\r\n\r\nSample request:\r\
        \n\r\n    GET /journeys?originGid=9021014001760000&destinationGid=9021014003980000\r\
        \n\r\nor\r\n\r\n    GET /journeys?originName=Sadelsten,+V%C3%A5rg%C3%A5rda&originLongitude=12.63308&originLatitude=58.028237&destinationLongitude=11.930897&destinationLatitude=57.586085&destinationName=%C3%85sdammsstigen,+427+36+Billdal"
      parameters:
      - description: "The 16-digit Västtrafik gid of the origin location (which could\
          \ be either a stop area (e.g. '9021014001760000'), a stop point (e.g. '9022014001760004')\
          \ or meta-station (e.g. '0000000800000022'))."
        explode: true
        in: query
        name: originGid
        required: false
        schema:
          type: string
        style: form
      - description: The name of the origin location. The maximum length allowed is
          256 characters.
        explode: true
        in: query
        name: originName
        required: false
        schema:
          type: string
        style: form
      - description: The latitude of the origin location.
        explode: true
        in: query
        name: originLatitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: The longitude of the origin location.
        explode: true
        in: query
        name: originLongitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "The 16-digit Västtrafik gid of the destination location (which\
          \ could be either a stop area, stop point or meta-station)."
        explode: true
        in: query
        name: destinationGid
        required: false
        schema:
          type: string
        style: form
      - description: The name of the destination location. The maximum length allowed
          is 256 characters.
        explode: true
        in: query
        name: destinationName
        required: false
        schema:
          type: string
        style: form
      - description: The latitude of the destination location.
        explode: true
        in: query
        name: destinationLatitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: The longitude of the destination location.
        explode: true
        in: query
        name: destinationLongitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: The datetime for which to search journeys. Must be specified
          in RFC 3339 format or be null which means that the current time on the server
          is used. The related dateTimeRelatesTo parameter specifies if the time is
          related to the arrival or departure.
        explode: true
        in: query
        name: dateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies if the datetime is related to the departure or arrival
          of the journey.
        explode: true
        in: query
        name: dateTimeRelatesTo
        required: false
        schema:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Core.Models.DateTimeRelatesToType'
        style: form
      - description: Pagination reference from a previous search.
        explode: true
        in: query
        name: paginationReference
        required: false
        schema:
          type: string
        style: form
      - description: The number of results to return. Not guaranteed to return the
          specified number of results and usually not more than 7 results.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: "The transport modes to include when searching for journeys,\
          \ if none specified all transport modes are included."
        explode: true
        in: query
        name: transportModes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyTransportMode'
          type: array
        style: form
      - description: "The transport sub modes to include when searching for journeys,\
          \ if none specified all transport sub modes are included. Only supported\
          \ in combination with transportMode 'train'."
        explode: true
        in: query
        name: transportSubModes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyTransportSubMode'
          type: array
        style: form
      - description: "Only include direct connections, e.g. journeys with one trip\
          \ leg."
        explode: true
        in: query
        name: onlyDirectConnections
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Includes nearby stop areas when searching for a journey to or
          from a stop area or stop point. This means that the search algorithm will
          take additional stop points of other stop areas nearby the given start and
          destination stop area into account. These additional stop points are reachable
          by walk. E.g when true a journey suggestion may include a departure access
          link (initial walking leg) to a stop point of a stop area close by the specified
          origin stop area.
        explode: true
        in: query
        name: includeNearbyStopAreas
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The 16-digit Västtrafik gid of the via location (which must be
          a stop area).
        explode: true
        in: query
        name: viaGid
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Enables/disables using footpaths in the beginning of a trip\
          \ when searching from an address. To fine-tune the minimum and/or maximum\
          \ distance to the next public transport station, provide these values separated\
          \ by comma. The values are expressed in meters. To enable walk with a minimum\
          \ distance of 0 meters and a maximum distance of 3 kilometers, set the parameter\
          \ originWalk=1,0,3000. If default distances should be used, skip the values,\
          \ e.g 1,,. This will enable walk with the default minimum (0 meters) and\
          \ the default maximum (2000 meters)."
        explode: true
        in: query
        name: originWalk
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using footpaths at the end of a trip when searching\
          \ to an address. To fine-tune the minimum and/or maximum distance to the\
          \ next public transport station, provide these values separated by comma.\
          \ The values are expressed in meters. To enable walk with a minimum distance\
          \ of 0 meters and a maximum distance of 3 kilometers, set the parameter\
          \ destWalk=1,0,3000. If default distances should be used, skip the values,\
          \ e.g 1,,. This will enable walk with the default minimum (0 meters) and\
          \ the default maximum (2000 meters)."
        explode: true
        in: query
        name: destWalk
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using bike paths in the beginning of a trip\
          \ when searching from an address. To fine-tune the minimum and/or maximum\
          \ distance to the next public transport station, provide these values separated\
          \ by comma. The values are expressed in meters. To enable bike with a minimum\
          \ distance of 1000 meters and a maximum distance of 5 kilometers, set the\
          \ parameter originBike=1,1000,5000. If default distances should be used,\
          \ skip the values, e.g 1,,. This will enable bike with the default minimum\
          \ (0 meters) and the default maximum (3000 meters)."
        explode: true
        in: query
        name: originBike
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using bike paths at the end of a trip when\
          \ searching to an address. To fine-tune the minimum and/or maximum distance\
          \ to the next public transport station, provide these values separated by\
          \ comma. The values are expressed in meters. To enable bike with a minimum\
          \ distance of 1000 meters and a maximum distance of 5 kilometers, set the\
          \ parameter destBike=1,1000,5000. If default distances should be used, skip\
          \ the values, e.g 1,,. This will enable bike with the default minimum (0\
          \ meters) and the default maximum (3000 meters)."
        explode: true
        in: query
        name: destBike
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using bike routes for the whole trip. To fine-tune\
          \ the minimum and/or maximum distance to the next public transport station,\
          \ provide these values separated by comma. The values are expressed in meters.\
          \ To enable bike with a minimum distance of 0 meters and a maximum distance\
          \ of 20 kilometers, set the parameter totalBike=1,0,20000. If default distances\
          \ should be used, skip the values, e.g 1,,. This will enable bike with the\
          \ default minimum (0 meters) and the default maximum (25000 meters)."
        explode: true
        in: query
        name: totalBike
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using car in the beginning of a trip when searching\
          \ from an address. To fine-tune the minimum and/or maximum distance to the\
          \ next public transport station, provide these values separated by comma.\
          \ The values are expressed in meters. To enable car with a minimum distance\
          \ of 2000 meters and a maximum distance of 7 kilometers, set the parameter\
          \ origincar=1,2000,7000. If default distances should be used, skip the values,\
          \ e.g 1,,. This will enable car with the default minimum (0 meters) and\
          \ the default maximum (5000 meters)."
        explode: true
        in: query
        name: originCar
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using car at the end of a trip when searching\
          \ to an address. To fine-tune the minimum and/or maximum distance to the\
          \ next public transport station, provide these values separated by comma.\
          \ The values are expressed in meters. To enable car with a minimum distance\
          \ of 2000 meters and a maximum distance of 7 kilometers, set the parameter\
          \ destCar=1,2000,7000. If default distances should be used, skip the values,\
          \ e.g 1,,. This will enable car with the default minimum (0 meters) and\
          \ the default maximum (5000 meters)."
        explode: true
        in: query
        name: destCar
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using Park and Ride in the beginning of a trip\
          \ when searching from an address. To fine-tune the minimum and/or maximum\
          \ distance to the next public transport station, provide these values separated\
          \ by comma. The values are expressed in meters. To enable Park and Ride\
          \ with a minimum distance of 3000 meters and a maximum distance of 70 kilometers,\
          \ set the parameter originPark=1,3000,70000. If default distances should\
          \ be used, skip the values, e.g 1,,. This will enable Park and Ride with\
          \ the default minimum (2000 meters) and the default maximum (50000 meters)."
        explode: true
        in: query
        name: originPark
        required: false
        schema:
          type: string
        style: form
      - description: "Enables/disables using Park and Ride at the end of a trip when\
          \ searching to an address. To fine-tune the minimum and/or maximum distance\
          \ to the next public transport station, provide these values separated by\
          \ comma. The values are expressed in meters. To enable Park and Ride with\
          \ a minimum distance of 3000 meters and a maximum distance of 70 kilometers,\
          \ set the parameter destPark=1,3000,70000. If default distances should be\
          \ used, skip the values, e.g 1,,. This will enable Park and Ride with the\
          \ default minimum (2000 meters) and the default maximum (50000 meters)."
        explode: true
        in: query
        name: destPark
        required: false
        schema:
          type: string
        style: form
      - description: "The minimum number of minutes between arrival and departure\
          \ for a connection to be valid and the trip included in the search results,\
          \ ignoring the default value."
        explode: true
        in: query
        name: interchangeDurationInMinutes
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Includes occupancy in journey.
        explode: true
        in: query
        name: includeOccupancy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Journeys.GetJourneysResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Journeys.GetJourneysResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Journeys.GetJourneysResponse'
          description: If the search was successfully completed.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            2001:\
            \ Limit must be greater than zero\r\n            2002: Invalid location\r\
            \n            2003: Invalid datetime\r\n            2004: Decoding pagination\
            \ reference failed\r\n            2005: Invalid transport mode to origin\r\
            \n            2006: Transport sub modes without transport modes\r\n  \
            \          2007: Invalid origin gid\r\n            2008: Invalid destination\
            \ gid\r\n            2009: Invalid via gid\r\n            2010: Invalid\
            \ interchange duration\r\n            2011: Invalid origin walk\r\n  \
            \          2012: Invalid destination walk\r\n            2013: Invalid\
            \ origin bike\r\n            2014: Invalid destination bike\r\n      \
            \      2015: Invalid origin car\r\n            2016: Invalid destination\
            \ car\r\n            2017: Invalid origin park\r\n            2018: Invalid\
            \ destination park\r\n            2019: Invalid total bike\r\n       \
            \     2020: Identical origin and destination\r\n            2021: Origin\
            \ name exceeds maximum length\r\n            2022: Destination name exceeds\
            \ maximum length\r\n            5001: Bad service request\r\n        \
            \    5003: Service error\r\n            6001: Same origin and destination\r\
            \n            6002: Error in date field\r\n            6003: Faulty input\r\
            \n            6004: Unknown arrival station\r\n            6005: Unknown\
            \ intermediate station\r\n            6006: Unknown departure station\r\
            \n            6007: Unsuccessful search\r\n            6008: Nearby not\
            \ found\r\n            6009: Incomplete search\r\n            6010: Origin/Destination\
            \ are too near"
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns journeys matching the specified search parameters.
      tags:
      - Journeys
  /journeys/reconstruct:
    get:
      description: "Sample request:\r\n\r\n    GET /journeys/reconstruct?ref=¶HKI¶\
        T$A=1@O=Brunnsparken, Göteborg@L=1760003@a=128@$A=1@O=Korsvägen, Göteborg@L=3980004@a=128@$202206131358$202206131406$Spå\
        \    4$$1$$$$$$¶KRCC¶#VE#1#"
      parameters:
      - description: The reconstruction reference. A reconstructionReference is valid
          as long as the original journey search is valid.
        explode: true
        in: query
        name: ref
        required: true
        schema:
          type: string
        style: form
      - description: Includes occupancy in journey.
        explode: true
        in: query
        name: includeOccupancy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Journeys.JourneyApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Journeys.JourneyApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Journeys.JourneyApiModel'
          description: If the journey reconstruction was successful.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the reconstruction failed or if any of the parameters were\
            \ invalid.<br />\r\n            The following error codes can be returned:\r\
            \n            1003: Missing reconstruction reference"
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
        "404":
          description: If the journey was not found.
      security:
      - auth: []
      summary: "Reconstructs a journey based on the given reconstruction reference,\
        \ received from the search journeys query."
      tags:
      - Journeys
  /journeys/{detailsReference}/details:
    get:
      description: "Sample request:\r\n\r\n    GET /journeys/{detailsReference}/details?includes=ticketsuggestions"
      parameters:
      - description: "The reference to the journey, received from the search journeys\
          \ query. A detailsReference is only valid during the same day as it was\
          \ generated."
        explode: false
        in: path
        name: detailsReference
        required: true
        schema:
          type: string
        style: simple
      - description: The additional information to include in the response.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyDetailsIncludeType'
          type: array
        style: form
      - description: List of channel ids to include if 'ticketsuggestions' is set
          in the 'includes' parameter. Optional parameter.
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: List of product type ids to include if 'ticketsuggestions' is
          set in the 'includes' parameter. Optional parameter.
        explode: true
        in: query
        name: productTypes
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: List of traveller category ids to include if 'ticketsuggestions'
          is set in the 'includes' parameter. Optional parameter.
        explode: true
        in: query
        name: travellerCategories
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Core.Models.TravellerCategory'
          type: array
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyDetails.JourneyDetailsApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyDetails.JourneyDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyDetails.JourneyDetailsApiModel'
          description: If journeys details were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            1001:\
            \ Ticket suggestion argument failed\r\n            1002: Missing details\
            \ reference\r\n            1004: Corrupt details reference\r\n       \
            \     5001: Bad service request\r\n            5003: Service error\r\n\
            \            6003: Faulty input\r\n            6007: Unsuccessful search\r\
            \n            6009: Incomplete search"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the specified journey could not be found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns details about a journey.
      tags:
      - Journeys
  /journeys/valid-time-interval:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ValidTimeIntervalApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ValidTimeIntervalApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ValidTimeIntervalApiModel'
          description: If date range was successfully retrieved.
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If no time range could be found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns a time interval for when journey data is available.
      tags:
      - Journeys
  /locations/by-text:
    get:
      description: "Sample request:\r\n\r\n    GET /locations/by-text?q=brunnsparken&limit=10&offset=0"
      parameters:
      - description: "The search text (e.g. 'brunn', 'cent' or 'Kungsgatan'). The\
          \ maximum length allowed is 256 characters."
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: "The location types to include in the response, if none specified\
          \ all locations types are included."
        explode: true
        in: query
        name: types
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.LocationByTextType'
          type: array
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The zero-based start offset of the pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Locations.GetLocationsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Locations.GetLocationsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Locations.GetLocationsResponse'
          description: If the search was successfully completed.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the search text, any of the specified types or the pagination\
            \ properties are invalid.<br />\r\n            The following error codes\
            \ can be returned:\r\n            3001: Missing query parameter\r\n  \
            \          3002: Invalid limit and offset values\r\n            3003:\
            \ Query parameter exceeds maximum length\r\n            5001: Bad service\
            \ request"
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: "Returns locations matching the specified text. Currently only stop\
        \ areas, addresses, points of interest and meta-stations are supported."
      tags:
      - Locations
  /locations/by-coordinates:
    get:
      description: "Sample request:\r\n\r\n    GET /locations/by-coordinates?latitude=57.708734&longitude=11.974764&radiusInMeters=500&limit=10&offset=0"
      parameters:
      - description: The latitude.
        explode: true
        in: query
        name: latitude
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: The longitude.
        explode: true
        in: query
        name: longitude
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: The search radius from the coordinates specified in meters. Must
          be a positive integer > 0.
        explode: true
        in: query
        name: radiusInMeters
        required: false
        schema:
          default: 500
          format: int32
          type: integer
        style: form
      - description: "The location types to include in the response, if none specified\
          \ all locations types are included."
        explode: true
        in: query
        name: types
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.LocationByCoordinatesType'
          type: array
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The zero-based start offset of the pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Locations.GetLocationsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Locations.GetLocationsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Locations.GetLocationsResponse'
          description: If the search was successfully completed.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the coordinates, any of the specified types or the pagination\
            \ properties are invalid.<br />\r\n            The following error codes\
            \ can be returned:\r\n            4001: Invalid limit and offset values\r\
            \n            4002: Missing coordinates\r\n            4003: Invalid radius\r\
            \n            5001: Bad service request"
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: "Returns the locations nearest the specified coordinates. Currently\
        \ only stop areas, stop points and meta-stations are supported."
      tags:
      - Locations
  /positions:
    get:
      description: "Sample request:\r\n\r\n    GET /positions?lowerLeftLat=57.721723&lowerLeftLong=12.011882&upperRightLat=57.737549&upperRightLong=12.039268&limit=100"
      parameters:
      - description: Lower left latitude of bounding box.
        explode: true
        in: query
        name: lowerLeftLat
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Lower left longitude of bounding box.
        explode: true
        in: query
        name: lowerLeftLong
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Upper right latitude of bounding box.
        explode: true
        in: query
        name: upperRightLat
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Upper right longitude of bounding box.
        explode: true
        in: query
        name: upperRightLong
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: "The transport modes to include when searching for journeys,\
          \ if none specified all transport modes are included."
        explode: true
        in: query
        name: transportModes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Core.Models.PositionTransportMode'
          type: array
        style: form
      - description: Filter journeys by one or more journey details reference.
        explode: true
        in: query
        name: detailsReferences
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only journeys running the given lineDesignations (case sensitive)
          are part of the result.
        explode: true
        in: query
        name: lineDesignations
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Maximum number of journeys in response. Range from 1 to 200.
          Defaults to 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Positions.JourneyPositionApiModel'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Positions.JourneyPositionApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.Positions.JourneyPositionApiModel'
                type: array
          description: If the search was successfully completed.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            1004:\
            \ Corrupt details reference\r\n            5001: Bad service request\r\
            \n            7001: Limit must be greater than zero and not greater than\
            \ 200\r\n            7002: All four coordinates of the bounding box must\
            \ be set"
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns journey positions within a bounding box
      tags:
      - Positions
  /stop-areas/{stopAreaGid}/departures:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-areas/9021014003980000/departures"
      parameters:
      - description: The 16-digit Västtrafik gid of the stop area.
        explode: false
        in: path
        name: stopAreaGid
        required: true
        schema:
          type: string
        style: simple
      - description: The start of the time interval for which to get upcoming departures.
          Must be specified in RFC 3339 format or be null which means that the current
          time on the server is used.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter results by platform. Multiple platforms are separated
          by comma. Case sensitive.
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          type: string
        style: form
      - description: The number of minutes from the start time for which to get upcoming
          departures. Allowed values are between 0 and 1440.
        explode: true
        in: query
        name: timeSpanInMinutes
        required: false
        schema:
          default: 60
          format: int32
          type: integer
        style: form
      - description: The maximum number of departures for a single line in a specific
          direction.
        explode: true
        in: query
        name: maxDeparturesPerLineAndDirection
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The zero-based start offset of the pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Includes occupancy in departure.
        explode: true
        in: query
        name: includeOccupancy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter result by last stop on journey. Must be a 16-digit Västtrafik
          stop area
        explode: true
        in: query
        name: directionGid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetDeparturesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetDeparturesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetDeparturesResponse'
          description: If departures were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the search text, any of the specified types or the pagination\
            \ properties are invalid.<br />\r\n            The following error codes\
            \ can be returned:\r\n            4101: Invalid limit and offset values\r\
            \n            4102: Invalid stop area gid\r\n            4103: Invalid\
            \ start datetime\r\n            4104: Invalid timespan\r\n           \
            \ 4105: Invalid max departures per line and direction\r\n            4106:\
            \ Platforms exceeds maximum length\r\n            4108: Invalid direction\
            \ gid\r\n            5001: Bad service request"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the stop area was not found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns departures from the specified stop area at the specified time.
      tags:
      - StopAreas
  /stop-areas/{stopAreaGid}/arrivals:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-areas/9021014003980000/arrivals"
      parameters:
      - description: The 16-digit Västtrafik gid of the stop area.
        explode: false
        in: path
        name: stopAreaGid
        required: true
        schema:
          type: string
        style: simple
      - description: The start of the time interval for which to get upcoming arrivals.
          Must be specified in RFC 3339 format or be null which means that the current
          time on the server is used.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter results by platform. Multiple platforms are separated
          by comma. Case sensitive.
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          type: string
        style: form
      - description: The number of minutes from the start time for which to get upcoming
          arrivals. Allowed values are between 0 and 1440.
        explode: true
        in: query
        name: timeSpanInMinutes
        required: false
        schema:
          default: 60
          format: int32
          type: integer
        style: form
      - description: The maximum number of arrivals for a single line in a specific
          direction.
        explode: true
        in: query
        name: maxArrivalsPerLineAndDirection
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The zero-based start offset of the pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Filter result by last stop on journey. Must be a 16-digit Västtrafik
          stop area
        explode: true
        in: query
        name: directionGid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse'
          description: If arrivals were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the search text, any of the specified types or the pagination\
            \ properties are invalid.<br />\r\n            The following error codes\
            \ can be returned:\r\n            4201: Invalid limit and offset values\r\
            \n            4202: Invalid stop area gid\r\n            4203: Invalid\
            \ start datetime\r\n            4204: Invalid timespan\r\n           \
            \ 4205: Invalid max arrivals per line and direction\r\n            4206:\
            \ Platforms exceeds maximum length\r\n            4208: Invalid direction\
            \ gid\r\n            5001: Bad service request"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the stop area was not found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns arrivals to the specified stop area at the specified time.
      tags:
      - StopAreas
  /stop-areas/{stopAreaGid}/departures/{detailsReference}/details:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-areas/9021014001760000/departures/{detailsReference}/details?includes=servicejourneycalls"
      parameters:
      - description: "The reference to the service journey, received from the departures\
          \ call. A detailsReference is only valid during the same day as it was generated."
        explode: false
        in: path
        name: detailsReference
        required: true
        schema:
          type: string
        style: simple
      - description: The additional information to include in the response.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DepartureDetailsIncludeType'
          type: array
        style: form
      - explode: false
        in: path
        name: stopAreaGid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel'
          description: If service journey details were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            1002:\
            \ Missing details reference\r\n            1004: Corrupt details reference\r\
            \n            5001: Bad service request\r\n            5003: Service error\r\
            \n            6003: Faulty input"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the details about the departure could not be found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns details about a departure.
      tags:
      - StopAreas
  /stop-areas/{stopAreaGid}/arrivals/{detailsReference}/details:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-areas/9021014001760000/arrivals/{detailsReference}/details?includes=servicejourneycalls"
      parameters:
      - description: "The reference to the service journey, received from the arrivals\
          \ call. A detailsReference is only valid during the same day as it was generated."
        explode: false
        in: path
        name: detailsReference
        required: true
        schema:
          type: string
        style: simple
      - description: The additional information to include in the response.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ArrivalDetailsIncludeType'
          type: array
        style: form
      - explode: false
        in: path
        name: stopAreaGid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel'
          description: If service journey details were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            1002:\
            \ Missing details reference\r\n            1004: Corrupt details reference\r\
            \n            5001: Bad service request\r\n            5003: Service error\r\
            \n            6003: Faulty input"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the details about the arrival could not be found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns details about an arrival.
      tags:
      - StopAreas
  /stop-points/{stopPointGid}/departures:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-points/9022014001760003/departures"
      parameters:
      - description: The 16-digit Västtrafik gid of the stop point.
        explode: false
        in: path
        name: stopPointGid
        required: true
        schema:
          type: string
        style: simple
      - description: The start of the time interval for which to get upcoming departures.
          Must be specified in RFC 3339 format or be null which means that the current
          time on the server is used.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          type: string
        style: form
      - description: The number of minutes from the start time for which to get upcoming
          departures. Allowed values are between 0 and 1440.
        explode: true
        in: query
        name: timeSpanInMinutes
        required: false
        schema:
          default: 60
          format: int32
          type: integer
        style: form
      - description: The maximum number of departures for a single line in a specific
          direction.
        explode: true
        in: query
        name: maxDeparturesPerLineAndDirection
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The zero-based start offset of the pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Includes occupancy in departure.
        explode: true
        in: query
        name: includeOccupancy
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter result by last stop on journey. Must be a 16-digit Västtrafik
          stop area
        explode: true
        in: query
        name: directionGid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetDeparturesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetDeparturesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetDeparturesResponse'
          description: If departures were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the search text, any of the specified types or the pagination\
            \ properties are invalid.<br />\r\n            The following error codes\
            \ can be returned:\r\n            4101: Invalid limit and offset values\r\
            \n            4103: Invalid start datetime\r\n            4104: Invalid\
            \ timespan\r\n            4105: Invalid max departures per line and direction\r\
            \n            4107: Invalid stop point gid\r\n            4108: Invalid\
            \ direction gid\r\n            5001: Bad service request"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the stop point was not found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns departures from the specified stop point at the specified time.
      tags:
      - StopPoints
  /stop-points/{stopPointGid}/arrivals:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-points/9022014001760003/arrivals"
      parameters:
      - description: The 16-digit Västtrafik gid of the stop point.
        explode: false
        in: path
        name: stopPointGid
        required: true
        schema:
          type: string
        style: simple
      - description: The start of the time interval for which to get upcoming arrivals.
          Must be specified in RFC 3339 format or be null which means that the current
          time on the server is used.
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          type: string
        style: form
      - description: The number of minutes from the start time for which to get upcoming
          arrivals. Allowed values are between 0 and 1440.
        explode: true
        in: query
        name: timeSpanInMinutes
        required: false
        schema:
          default: 60
          format: int32
          type: integer
        style: form
      - description: The maximum number of arrivals for a single line in a specific
          direction.
        explode: true
        in: query
        name: maxArrivalsPerLineAndDirection
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The zero-based start offset of the pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Filter result by last stop on journey. Must be a 16-digit Västtrafik
          stop area
        explode: true
        in: query
        name: directionGid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse'
          description: If arrivals were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If the search text, any of the specified types or the pagination\
            \ properties are invalid.<br />\r\n            The following error codes\
            \ can be returned:\r\n            4201: Invalid limit and offset values\r\
            \n            4203: Invalid start datetime\r\n            4204: Invalid\
            \ timespan\r\n            4205: Invalid max arrivals per line and direction\r\
            \n            4207: Invalid stop point gid\r\n            4208: Invalid\
            \ direction gid\r\n            5001: Bad service request"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the stop point was not found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns arrivals to the specified stop point at the specified time.
      tags:
      - StopPoints
  /stop-points/{stopPointGid}/departures/{detailsReference}/details:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-points/9022014001760003/departures/{detailsReference}/details?includes=servicejourneycalls"
      parameters:
      - description: "The reference to the service journey, received from the departures\
          \ call. A detailsReference is only valid during the same day as it was generated."
        explode: false
        in: path
        name: detailsReference
        required: true
        schema:
          type: string
        style: simple
      - description: The additional information to include in the response.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DepartureDetailsIncludeType'
          type: array
        style: form
      - explode: false
        in: path
        name: stopPointGid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel'
          description: If service journey details were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            1002:\
            \ Missing details reference\r\n            1004: Corrupt details reference\r\
            \n            5001: Bad service request\r\n            5003: Service error\r\
            \n            6003: Faulty input"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the details about the departure could not be found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns details about a departure.
      tags:
      - StopPoints
  /stop-points/{stopPointGid}/arrivals/{detailsReference}/details:
    get:
      description: "Sample request:\r\n\r\n    GET /stop-points/9022014001760003/arrivals/{detailsReference}/details?includes=servicejourneycalls"
      parameters:
      - description: "The reference to the service journey, received from the arrivals\
          \ call. A detailsReference is only valid during the same day as it was generated."
        explode: false
        in: path
        name: detailsReference
        required: true
        schema:
          type: string
        style: simple
      - description: The additional information to include in the response.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ArrivalDetailsIncludeType'
          type: array
        style: form
      - explode: false
        in: path
        name: stopPointGid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel'
          description: If service journey details were successfully retrieved.
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.ApiError'
          description: "If any of the search parameters were invalid.<br />\r\n  \
            \          The following error codes can be returned:\r\n            1002:\
            \ Missing details reference\r\n            1004: Corrupt details reference\r\
            \n            5001: Bad service request\r\n            5003: Service error\r\
            \n            6003: Faulty input"
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
          description: If the details about the arrival could not be found.
        "500":
          description: If an internal server error occurred.
        "503":
          description: If the service is temporarily unavailable
      security:
      - auth: []
      summary: Returns details about an arrival.
      tags:
      - StopPoints
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      additionalProperties: {}
      properties:
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      type: object
    VT.ApiPlaneraResa.Core.Models.DateTimeRelatesToType:
      enum:
      - departure
      - arrival
      type: string
    VT.ApiPlaneraResa.Core.Models.LocationType:
      enum:
      - unknown
      - stoparea
      - stoppoint
      - address
      - pointofinterest
      - metastation
      type: string
    VT.ApiPlaneraResa.Core.Models.Note:
      additionalProperties: false
      example:
        severity: null
        text: text
        type: type
      properties:
        type:
          nullable: true
          type: string
        severity:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Core.Models.Severity'
        text:
          nullable: true
          type: string
      type: object
    VT.ApiPlaneraResa.Core.Models.PositionTransportMode:
      enum:
      - tram
      - bus
      - ferry
      - train
      - taxi
      type: string
    VT.ApiPlaneraResa.Core.Models.Severity:
      enum:
      - unknown
      - low
      - normal
      - high
      type: string
    VT.ApiPlaneraResa.Core.Models.TimeLimitation:
      enum:
      - unknown
      - heltid
      - lagtrafik
      - skolkort04till19
      - skolkort04till22
      - skolkort04till1930
      - fritid100
      - fritidkomplement
      - fritidvardag19till22
      - fritidvardag14till24
      - fritidkvallhelg
      - fritidkvallhelglov
      - fritidjulsommarlov
      - fritidale
      type: string
    VT.ApiPlaneraResa.Core.Models.TimeValidityType:
      enum:
      - unknown
      - amountunit
      - fromtodate
      - fromtodatetime
      type: string
    VT.ApiPlaneraResa.Core.Models.TimeValidityUnit:
      enum:
      - unknown
      - minutes
      - hours
      - days
      - year
      - semester
      - schoolyear
      - unlimited
      type: string
    VT.ApiPlaneraResa.Core.Models.TransportMode:
      enum:
      - unknown
      - none
      - tram
      - bus
      - ferry
      - train
      - taxi
      - walk
      - bike
      - car
      type: string
    VT.ApiPlaneraResa.Core.Models.TransportSubMode:
      enum:
      - unknown
      - none
      - vasttagen
      - longdistancetrain
      - regionaltrain
      type: string
    VT.ApiPlaneraResa.Core.Models.TravellerCategory:
      enum:
      - unknown
      - adult
      - youth
      type: string
    VT.ApiPlaneraResa.Web.V4.Models.ApiError:
      additionalProperties: false
      description: Information about the error.
      properties:
        errorCode:
          description: Error code.
          format: int32
          type: integer
        errorMessage:
          description: More detailed description of the error.
          nullable: true
          type: string
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.ArrivalDetailsIncludeType:
      description: The different kinds of detailed information that could be included
        in a get arrival details request.
      enum:
      - servicejourneycalls
      - servicejourneycoordinates
      type: string
    VT.ApiPlaneraResa.Web.V4.Models.CoordinateApiModel:
      additionalProperties: false
      description: Information about the coordinates
      example:
        elevation: 1.0246457001441578
        isTripLegStop: true
        latitude: 7.386281948385884
        isOnTripLeg: true
        isTripLegStart: true
        longitude: 1.2315135367772556
      properties:
        latitude:
          description: The latitude of this position (WGS84).
          format: double
          type: number
        longitude:
          description: The longitude of this position (WGS84).
          format: double
          type: number
        elevation:
          description: The elevation of this position (WGS84).
          format: double
          nullable: true
          type: number
        isOnTripLeg:
          description: The coordinate is on the tripleg.
          nullable: true
          type: boolean
        isTripLegStart:
          description: The coordinate is on the first call of the leg.
          nullable: true
          type: boolean
        isTripLegStop:
          description: The coordinate is on the last call of the leg.
          nullable: true
          type: boolean
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DepartureDetailsIncludeType:
      description: The different kinds of detailed information that could be included
        in a get departure details request.
      enum:
      - servicejourneycalls
      - servicejourneycoordinates
      - occupancy
      type: string
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalApiModel:
      additionalProperties: false
      example:
        estimatedTime: estimatedTime
        estimatedOtherwisePlannedTime: estimatedOtherwisePlannedTime
        isCancelled: true
        serviceJourney:
          gid: gid
          line:
            isWheelchairAccessible: true
            backgroundColor: backgroundColor
            borderColor: borderColor
            gid: gid
            transportSubMode: null
            name: name
            transportMode: null
            foregroundColor: foregroundColor
            designation: designation
            shortName: shortName
          origin: origin
          direction: direction
        plannedTime: plannedTime
        detailsReference: detailsReference
        stopPoint:
          gid: gid
          latitude: 0.8008281904610115
          name: name
          platform: platform
          longitude: 6.027456183070403
        isPartCancelled: true
      properties:
        detailsReference:
          description: A reference that should be used when getting detailed information
            about the journey.
          nullable: true
          type: string
        serviceJourney:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ServiceJourneyApiModel'
        stopPoint:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.StopPointApiModel'
        plannedTime:
          description: The planned time of the call in RFC 3339 format.
          minLength: 1
          type: string
        estimatedTime:
          description: The estimated time of the call in RFC 3339 format.
          nullable: true
          type: string
        estimatedOtherwisePlannedTime:
          description: "The best known time of the call in RFC 3339 format. Is EstimatedTime\
            \ if exists, otherwise PlannedTime."
          nullable: true
          readOnly: true
          type: string
        isCancelled:
          description: Flag indicating if the departure or arrival is cancelled.
          type: boolean
        isPartCancelled:
          description: Flag indicating if the departure or arrival is partially cancelled.
          type: boolean
      required:
      - plannedTime
      - stopPoint
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ArrivalDetailsApiModel:
      additionalProperties: false
      example:
        serviceJourneys:
        - gid: gid
          line:
            backgroundColor: backgroundColor
            borderColor: borderColor
            transportSubMode: null
            name: name
            transportMode: null
            foregroundColor: foregroundColor
          callsOnServiceJourney:
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          serviceJourneyCoordinates:
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          direction: direction
        - gid: gid
          line:
            backgroundColor: backgroundColor
            borderColor: borderColor
            transportSubMode: null
            name: name
            transportMode: null
            foregroundColor: foregroundColor
          callsOnServiceJourney:
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          serviceJourneyCoordinates:
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          direction: direction
      properties:
        serviceJourneys:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ServiceJourneyDetailsApiModel'
          nullable: true
          type: array
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.CallDetailsApiModel:
      additionalProperties: false
      description: Information about a call on the trip leg.
      example:
        isCancelled: true
        occupancy:
          level: null
          source: null
        isDepartureCancelled: true
        isArrivalCancelled: true
        plannedArrivalTime: plannedArrivalTime
        latitude: 5.962133916683182
        plannedDepartureTime: plannedDepartureTime
        index: index
        plannedPlatform: plannedPlatform
        estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
        estimatedDepartureTime: estimatedDepartureTime
        estimatedPlatform: estimatedPlatform
        stopPoint:
          stopArea:
            gid: gid
            latitude: 5.637376656633329
            name: name
            tariffZone2:
              number: 7
              gid: gid
              name: name
              shortName: shortName
            tariffZone1:
              number: 7
              gid: gid
              name: name
              shortName: shortName
            longitude: 2.3021358869347655
          gid: gid
          latitude: 1.4658129805029452
          name: name
          platform: platform
          longitude: 5.962133916683182
        estimatedArrivalTime: estimatedArrivalTime
        estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
        longitude: 5.637376656633329
      properties:
        stopPoint:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.JourneyDetails.StopPointApiModel'
        plannedArrivalTime:
          description: The planned arrival time for the call in RFC 3339 format.
          nullable: true
          type: string
        plannedDepartureTime:
          description: The planned departure time for the call in RFC 3339 format.
          nullable: true
          type: string
        estimatedArrivalTime:
          description: The estimated arrival time for the call in RFC 3339 format.
          nullable: true
          type: string
        estimatedDepartureTime:
          description: The estimated departure time for the call in RFC 3339 format.
          nullable: true
          type: string
        estimatedOtherwisePlannedArrivalTime:
          description: "The best known time of the call in RFC 3339 format. Is EstimatedArrivalTime\
            \ if exists, otherwise PlannedArrivalTime."
          nullable: true
          readOnly: true
          type: string
        estimatedOtherwisePlannedDepartureTime:
          description: "The best known time of the call in RFC 3339 format. Is EstimatedDepartureTime\
            \ if exists, otherwise PlannedDepartureTime."
          nullable: true
          readOnly: true
          type: string
        plannedPlatform:
          description: The planned platform of the call.
          nullable: true
          type: string
        estimatedPlatform:
          description: The estimated platform of the call.
          nullable: true
          type: string
        latitude:
          description: The latitude of the stop point of the call.
          format: double
          nullable: true
          type: number
        longitude:
          description: The longitude of the stop point of the call.
          format: double
          nullable: true
          type: number
        index:
          description: The index of the stop point of the call.
          nullable: true
          type: string
        occupancy:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.OccupancyInformationApiModel'
        isCancelled:
          description: Flag indicating if the call is cancelled.
          type: boolean
        isDepartureCancelled:
          description: Flag indicating if the departure is cancelled.
          nullable: true
          type: boolean
        isArrivalCancelled:
          description: Flag indicating if the arrival is cancelled.
          nullable: true
          type: boolean
      required:
      - stopPoint
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.CoordinateApiModel:
      additionalProperties: false
      description: Information about the coordinates
      example:
        elevation: 1.4658129805029452
        latitude: 0.8008281904610115
        longitude: 6.027456183070403
      properties:
        latitude:
          description: The latitude of this position (WGS84).
          format: double
          type: number
        longitude:
          description: The longitude of this position (WGS84).
          format: double
          type: number
        elevation:
          description: The elevation of this position (WGS84).
          format: double
          nullable: true
          type: number
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureApiModel:
      additionalProperties: false
      example:
        estimatedTime: estimatedTime
        estimatedOtherwisePlannedTime: estimatedOtherwisePlannedTime
        isCancelled: true
        occupancy:
          level: null
          source: null
        serviceJourney:
          gid: gid
          line:
            isWheelchairAccessible: true
            backgroundColor: backgroundColor
            borderColor: borderColor
            gid: gid
            transportSubMode: null
            name: name
            transportMode: null
            foregroundColor: foregroundColor
            designation: designation
            shortName: shortName
          origin: origin
          direction: direction
        plannedTime: plannedTime
        detailsReference: detailsReference
        stopPoint:
          gid: gid
          latitude: 0.8008281904610115
          name: name
          platform: platform
          longitude: 6.027456183070403
        isPartCancelled: true
      properties:
        detailsReference:
          description: A reference that should be used when getting detailed information
            about the journey.
          nullable: true
          type: string
        serviceJourney:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ServiceJourneyApiModel'
        stopPoint:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.StopPointApiModel'
        plannedTime:
          description: The planned time of the call in RFC 3339 format.
          minLength: 1
          type: string
        estimatedTime:
          description: The estimated time of the call in RFC 3339 format.
          nullable: true
          type: string
        estimatedOtherwisePlannedTime:
          description: "The best known time of the call in RFC 3339 format. Is EstimatedTime\
            \ if exists, otherwise PlannedTime."
          nullable: true
          readOnly: true
          type: string
        isCancelled:
          description: Flag indicating if the departure or arrival is cancelled.
          type: boolean
        isPartCancelled:
          description: Flag indicating if the departure or arrival is partially cancelled.
          type: boolean
        occupancy:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.OccupancyInformationApiModel'
      required:
      - plannedTime
      - stopPoint
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.DepartureDetailsApiModel:
      additionalProperties: false
      example:
        serviceJourneys:
        - gid: gid
          line:
            backgroundColor: backgroundColor
            borderColor: borderColor
            transportSubMode: null
            name: name
            transportMode: null
            foregroundColor: foregroundColor
          callsOnServiceJourney:
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          serviceJourneyCoordinates:
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          direction: direction
        - gid: gid
          line:
            backgroundColor: backgroundColor
            borderColor: borderColor
            transportSubMode: null
            name: name
            transportMode: null
            foregroundColor: foregroundColor
          callsOnServiceJourney:
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          - isCancelled: true
            occupancy:
              level: null
              source: null
            isDepartureCancelled: true
            isArrivalCancelled: true
            plannedArrivalTime: plannedArrivalTime
            latitude: 5.962133916683182
            plannedDepartureTime: plannedDepartureTime
            index: index
            plannedPlatform: plannedPlatform
            estimatedOtherwisePlannedDepartureTime: estimatedOtherwisePlannedDepartureTime
            estimatedDepartureTime: estimatedDepartureTime
            estimatedPlatform: estimatedPlatform
            stopPoint:
              stopArea:
                gid: gid
                latitude: 5.637376656633329
                name: name
                tariffZone2:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                tariffZone1:
                  number: 7
                  gid: gid
                  name: name
                  shortName: shortName
                longitude: 2.3021358869347655
              gid: gid
              latitude: 1.4658129805029452
              name: name
              platform: platform
              longitude: 5.962133916683182
            estimatedArrivalTime: estimatedArrivalTime
            estimatedOtherwisePlannedArrivalTime: estimatedOtherwisePlannedArrivalTime
            longitude: 5.637376656633329
          serviceJourneyCoordinates:
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          - elevation: 1.4658129805029452
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          direction: direction
        occupancy:
          level: null
          source: null
      properties:
        serviceJourneys:
          items:
            $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.ServiceJourneyDetailsApiModel'
          nullable: true
          type: array
        occupancy:
          $ref: '#/components/schemas/VT.ApiPlaneraResa.Web.V4.Models.OccupancyInformationApiModel'
      type: object
    VT.ApiPlaneraResa.Web.V4.Models.DeparturesAndArrivals.GetArrivalsResponse:
      additionalProperties: false
[...]
